*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Arial, sant-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container-fluid () {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  min-height: 900px;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 900px;
  background-position: center;
  margin-bottom: 92px;

  &::after {
    content: "";
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
    width: 155px;
    height: 185px;
    background-image: url('../img/header-berry.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrapper {
    .container-fluid ();
    padding: 30px 16px 179px 14px;
    background-image: url('../img/header-iphone.png');
    background-repeat: no-repeat;
    background-size: 404px 753px;
    background-position: bottom right;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 196px;

  &__logo {
    font-size: 0;
    width: 133px;
    height: 41px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__list {
    display: flex;
    list-style: none;
    padding-bottom: 3px;
  }

  &__link {
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    margin-right: 55px;
    border-radius: 30px;
    transition: all .4s;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .4;
    }

    &--active {
      font-weight: 700;
      color: #2ecc71;
      background-color: #fff;
      padding: 10px 38px;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }
  }

  &__item:last-child &__link {
    margin-right: 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;

  &__app-icon {
    width: 111px;
    height: 111px;
    margin-bottom: 60px;
  }

  &__title {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;

    & span {
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: 300;
    max-width: 580px;
    margin-bottom: 57px;
  }
}

.download-btns {
  display: flex;
  font-size: 0;

  &__appstore {
    width: 130px;
    height: 46px;
    background-image: url('../img/Appstore.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 30px;
    transition: all .2s;
  }

  &__googleplay {
    width: 137px;
    height: 46px;
    background-image: url('../img/Google Play.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s;
  }

  &__appstore:hover,
  &__googleplay:hover {
    opacity: .7;
  }

  &__appstore:active,
  &__googleplay:active {
    opacity: .4;
  }
}

.features {
  margin-bottom: 95px;

  &__wrapper {
    .container-fluid ();
    width: 1264px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 608px;
    height: 712px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-right: 44px;
  }

  &__title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #5a5a5a;
    margin-bottom: 18px;

    & span {
      color: #2ecc71;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #5a5a5a;
    max-width: 470px;
  }
}

.plan-diet {
  background-image: url('../img/plan-diet-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wrapper {
    .container-fluid ();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 111px 0 650px;
    max-width: 850px;
  }

  &__title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #5a5a5a;
    margin-bottom: 27px;

    & span {
      color: #2ecc71;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #5a5a5a;
    text-align: center;
  }
}

.meal-time {
  padding-top: 150px;
  padding-bottom: 115px;
  background-color: #f9fbfa;

  &__wrapper {
    .container-fluid ();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    padding-bottom: 36px;
    padding-left: 11px;
  }

  &__title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #5a5a5a;
    margin-bottom: 19px;

    & span {
      letter-spacing: 3px;
      color: #2ecc71;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #5a5a5a;
    max-width: 470px;
  }

  &__example {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.meal-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  padding: 22px 20px;
  background-color: #fff;
  border: 2px solid #eeefee;
  border-radius: 10px;
  margin-bottom: 28px;

  &--active {
    width: 525px;
    padding: 27px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    position: relative;

    &--apple {
      padding-left: 114px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 95px;
        height: 56px;
        background-image: url('../img/meal-time-apple.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--sandwich {
      padding-left: 141px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 126px;
        height: 90px;
        background-image: url('../img/meal-time-sandwich.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--salad {
      padding-left: 114px;

      &::before {
        position: absolute;
        top: 0;
        left: -10px;
        content: "";
        width: 112px;
        height: 62px;
        background-image: url('../img/meal-time-salad.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #2ecc71;

    &--active {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #5a5a5a;

    &--active {
      font-size: 15px;
      line-height: 21px;
    }
  }

  &__weight {
    display: flex;
    align-items: center;
  }

  &__gramm {
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    color: #2ecc71;

    &--active {
      font-size: 15px;
      line-height: 28px;
    }
  }

  &__separator {
    width: 3px;
    height: 3px;
    background-color: #b4b4b4;
    border-radius: 50%;
    margin: 0 10px;

    &--active {
      width: 4px;
      height: 4px;
    }
  }

  &__kcal {
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    color: #2ecc71;

    &--active {
      font-size: 15px;
      line-height: 28px;
    }
  }

  &__time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__clock {
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    color: #b4b4b4;

    &--active {
      font-size: 31px;
      line-height: 31px;
      color: #2ecc71;
    }

    &--green {
      color: #2ecc71;
    }
  }

  &__pm {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #b4b4b4;

    &--active {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.page-footer {
  padding: 102px 0 100px;
  background-image: url('../img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__wrapper {
    .container-fluid ();
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 21px;

    & span {
      font-weight: 400;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #fff;
    max-width: 855px;
    text-align: center;
    margin-bottom: 54px;
  }
}

.btn-getapp {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #2ecc71;
  padding: 6px;
  width: 245px;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all .4s;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .4;
  }
}
